.container {
    height: calc(100% - 112px);
}

main {
    max-width: 800px;
    margin-bottom: 50px;
    height: 100%;
}

@media all and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    
    main {
        flex: 1;
    }
}

/* Anchor navbar to the bottom for mobile */
// @media all and (max-width: 768px) { 
//     .container {
//         flex-direction: column;
//         flex-direction: column-reverse;
//     }
//     main {
//         margin-bottom: 50px;
//         overflow-y: auto;
//     }
// }