#container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: calc(100% - 96px);
}

main {
    max-width: 800px;
    padding: 0 16px 16px 16px;
}

/* Anchor navbar to the bottom for mobile */
@media all and (max-width: 768px) { 
    .container {
        flex-direction: column;
        flex-direction: column-reverse;
    }
    main {
        margin-bottom: 50px;
        overflow-y: auto;
    }
}