@import "../../styles/_variables.scss";

.inbox {
    padding: $main-default-padding;
    margin-bottom: $navbar-mobile-height;

    li {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        width: 100%;
    }

    .inbox__converation-details {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-left: 12px;
        line-height: 150%;
        
        .top,
        .bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    .inbox__conversation-username {
        font-size: 1.35rem;
        font-weight: 600;
    }
    
    .inbox__conversation-last-message-text{
        font-size: .9rem;
    }

    .inbox__conversation-last-message-time {
        font-size: .85rem;
    }
    
    .inbox__conversation-link {
        text-decoration: none;
        color: inherit;
    }
    
    .inbox__conversation-separator {
        margin-left: 112px;
        margin-right: 0;
        border: 0;
        height: 1px;
        margin-top: 16px;
        margin-bottom: 16px;
        background-color: $light-blue;
    }
}

@media all and (min-width: 768px) {
    .inbox {
        margin-bottom: 0px;
    }
}
