.profile__pic {
    border-radius: 50%;
    border: 2px solid #eee;
    width: 120px;
    height: 120px;
    padding: 4px;
    margin-right: 24px;
    object-fit: cover;
}
.profile--info {
    padding: 8px 0;
}
.profile--info__name {
    font-size: 28px;
    padding-bottom: 8px;
}