@import "../../styles/_variables.scss";

.user-profile {
    padding: $main-default-padding;
    margin-bottom: $navbar-mobile-height;

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .profile-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;
        height: 150px;
    }
    
    .profile-name-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .profile-name {
        font-size: 28px;
        padding-bottom: 8px;
    }
    
    .profile-separator {
        border: 0;
        height: 1px;
        width: 80%;
        margin-top: 42px;
        margin-bottom: 42px;
        background-color: $light-blue;
    }
    
    .profile-section-text {
        color: $pale-blue;
        font-size: 24px;
        margin-bottom: 24px;
    }
}


@media all and (min-width: 768px) {
    .user-profile {
        .profile {
            flex-direction: row;
            //justify-content: center;
        }

        .profile-details {
            align-items: flex-start;
            margin-left: 24px;
        }

        .profile-name-about {
            align-items: flex-start;
            margin: 8px 0 0 0;
        }
    }
}


.compliment-user-pic {
    width: 75px;
    height: 75px;
    min-width: 75px;
    min-height: 75px;
    object-fit: cover;
    margin-right: 12px;
}

.compliment-user-name {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.compliment-text {
    max-width: 400px;
    font-family: $secondary-font-family;
}

.compliment-list-item:not(:last-child) {
    margin-bottom: 24px;
}
