@import "../../styles/variables";

.help-request-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    @media all and (min-width: 768px) {
        justify-content: space-between;
    }
}    