@import "../../styles/variables";

.help-request-details {
    @media all and (max-width: 768px) {
        width: 92vw;
        word-wrap: break-word;
    }
    
    img {
        width: 150px;
        height: 150px;
        min-width: 150px;
        min-height: 150px;
        object-fit: cover;
        margin-right: 24px;
    }

    p {
        line-height: 115%;
    }

    .help-request-details__info {
        font-size: 14px;
        align-items: flex-end;
        line-height: 120%;
    }
}