@import "../../styles/variables";

.help-request-details {
    padding: $main-default-padding;
    margin-bottom: $navbar-mobile-height;
    word-wrap: break-word;

    a {
        color: inherit;
    }
    
    img {
        width: 150px;
        height: 150px;
        min-width: 150px;
        min-height: 150px;
        object-fit: cover;
        margin-right: 24px;
    }

    p {
        line-height: 115%;
    }

    .help-request-details__info {
        font-size: 14px;
        align-items: flex-end;
        line-height: 120%;
    }
}

.close-help-request {
    padding-top: 24px;
    color: #232F34;
    min-width: 336px;

    div,
    ul {
        text-align: center;
    }
    
    .top {
        margin-bottom: 24px;
        padding: 0 8px;
    }

    .middle {
        padding: 0 8px;

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 12px;
        }

        li {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0 8px;
            
            p {
                font-size: 12px;
                padding: 4px 0;
            }
    
            img {
                margin: 0;
            }
        }
    }

    .bottom {
        margin-top: 28px;
        height: 52px;
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        button {
            margin-left: 8px;
        }
    }
}

@media all and (min-width: 768px) {
    .help-request-details {
        margin-bottom: 0;
    }

    .close-help-request {
        min-width: 436px;
    }
}