@import "../../styles/variables";

.help-request-details {
    padding: $main-default-padding;
    margin-bottom: $navbar-mobile-height;
    word-wrap: break-word;

    a {
        color: inherit;
    }
    
    img {
        width: 150px;
        height: 150px;
        min-width: 150px;
        min-height: 150px;
        object-fit: cover;
        margin-right: 24px;
    }

    p {
        line-height: 115%;
    }

    .help-request-details__info {
        font-size: 14px;
        align-items: flex-end;
        line-height: 120%;
    }
}

@media all and (min-width: 768px) {
    .help-request-details {
        margin-bottom: 0;
    }
}