@import "../../styles/variables.scss";

.user-profile {
    padding: $main-default-padding;
    margin-bottom: $navbar-mobile-height;

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .profile-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;
        height: 200px;
    }
    
    .profile-name-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }

    .profile-name {
        font-size: 42px;
        padding-bottom: 8px;
    }

    .profile-location {
        color: $pale-blue;
        font-size: 18px
    }

    .profile-about {
        margin-top: 24px;
    }
    
    .profile-separator {
        border: 0;
        height: 1px;
        width: 80%;
        margin-top: 32px;
        margin-bottom: 32px;
        background-color: $light-blue;
    }
    
    .profile-section-text {
        color: $pale-blue;
        font-size: 24px;
        margin-bottom: 24px;
    }
    
    p {
        line-height: 1.3;
    }
    ul {
        margin-left: 12px;
        margin-right: 12px;
    }
}


@media all and (min-width: 768px) {
    .user-profile {
        margin-bottom: 0px;
        
        .profile {
            flex-direction: row;
            //justify-content: center;
        }

        .profile-details {
            align-items: flex-start;
            margin-left: 24px;
        }

        .profile-name-about {
            align-items: flex-start;
            margin: 8px 0 0 0;
        }

        p {
            display: inline;
        }
    }
}

.verifications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 225%;

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
    }

    i {
        color: $pale-blue;
        margin-right: 4px;
        font-size: 32px;
    }

    .provider {
        text-transform: capitalize;
    }
}

.compliments {
    img {
        margin-right: 12px;
    }
    
    .compliment-user-name {
        font-size: 1.2em;
        margin-bottom: 8px;
    }
    
    .compliment-text {
        max-width: 400px;
    }

    .compliment-date {
        color: #999;
        font-size: 12px;
        align-self: center;
        margin-left: 8px;
    }
    
    .compliment-list-item:not(:last-child) {
        margin-bottom: 24px;
    }
}
