.avatar {
    object-fit: cover;
    
    &.round {
        border-radius: 50%;
    }

    &.square {
        border-radius: 0;
    }

    &.halo {
        border: 1px solid #eee;
        padding: 4px;
    }
    
    &.xxs {
        width: 24px;
        height: 24px;
        min-width: 24px;
        min-height: 24px;
    }
    &.xs {
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
    }
    &.small {
        width: 64px;
        height: 64px;
        min-width: 64px;
        min-height: 64px;
    }
    &.medium {
        width: 70px;
        height: 70px;
        min-width: 70px;
        min-height: 70px;
    }
    &.large {
        width: 92px;
        height: 92px;
        min-width: 92px;
        min-height: 92px;
    }
    &.xl {
        width: 120px;
        height: 120px;
        min-width: 120px;
        min-height: 120px;
    }
    &.xxl {
        width: 150px;
        height: 150px;
        min-width: 150px;
        min-height: 150px;
    }
}