@import "../styles/variables";

.btn {
    position: relative;
    padding: 0px 16px;
    font-size: 14px;
    height: 36px;	
    min-width: 64px;	
    border-radius: 4px;	
    font-weight: 600;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: padding-right 300ms ease, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 100ms linear;
    cursor: pointer;
}

.btn-contained {
    color: white;
    background-color: $blue;
    border: 0;
    @include Elevation(2);
    
    &:hover {
        background-color: rgba(87, 165, 232, .8);
        @include Elevation(4);
    }
    &:focus {
        background-color: rgba(87, 165, 232, .8);
        @include Elevation(4);
    }
    &:active {
        background-color: $blue;
        @include Elevation(8);
    }

}

.btn-outlined {
    color: $pale-blue;
    background-color: transparent;
    border: 1px solid $pale-blue;
    
    &:hover {
        background-color: rgba(110, 172, 228, 0.08);
    }
    &:active {
        background-color: rgba(110, 172, 228, 0.15);
    }
    &:active {
        background-color: rgba(110, 172, 228, 0.25);
    }
}

.btn-text {
    color: $blue;
    background-color: transparent;
    border: 0px;
    padding: 0px 8px;

    &:hover {
        background-color: rgba(87, 165, 232, .08);
    }
    &:focus {
        background-color: rgba(87, 165, 232, .15);
    }
    &:active {
        background-color: rgba(87, 165, 232, .25);
    }

}

.btn-disabled {
    background-color: #aaa;
    cursor: not-allowed;

    &:hover {
        color: white;
        background-color: #aaa;
    }
}

.btn.spinning {
    padding-right: 48px;
}

.btn.spinning:before {
    content: "";
    border-radius: 50%;
    right: 8px;
    position: absolute;
    border: 2px solid transparent;
    border-top-color: white;
    animation: spinner .75s linear infinite, exist .1s forwards ease;
}

.btn.spinning:after {
    content: "";
    border-radius: 50%;
    right: 8px;
    position: absolute;
    border: 2px solid transparent;
    border-top-color: $light-blue;
    animation: spinner 1s cubic-bezier(.02, .01, .47, 1) infinite, exist .1s forwards ease;
}

@keyframes exist { 
    100% {
        width: 24px;
        height: 24px;
        margin-top: -4px;
    }
}

@keyframes spinner {
    100% {
        transform: rotate(360deg);
    }
}