@import "../styles/variables";

#header {
    height: $header-height;
    background-color: $pale-blue;
    width: 100%;
    margin-bottom: $header-bottom-margin;
    // these are if we want to elevate the header bar
    // margin-bottom: calc(#{$header-bottom-margin} + #{$header-height});
    // @include Elevation(4);
}

.logo img {
    height: 28px;
    width: 246px;
}
