@import "../styles/variables";

#header {
    height: $header-mobile-height;
    width: 100%;
    margin-bottom: $header-bottom-margin;
    background-color: $pale-blue;
    color: white;
    // these are if we want to elevate the header bar
    // margin-bottom: calc(#{$header-bottom-margin} + #{$header-height});
    // @include Elevation(2);

    .logo img {
        height: 28px;
        width: 246px;
    }
    
    .title {
        font-size: 24px;
    }
}

@media all and (min-width: 768px) {
    #header {
        height: $header-height;
    }
}

