@import "../styles/variables";

.loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .loading {
        width: 40px;
        height: 40px;
        border: 3px solid transparent;
        border-top: 3px solid $pale-blue;
        border-radius: 50%;
        -webkit-animation: spinner 1.5s cubic-bezier(.02, .01, .47, 1) infinite;
        animation: spinner 1.5s cubic-bezier(.02, .01, .47, 1) infinite;
    }

    .loading:after {
        content: '';
        position: absolute;
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $light-blue;
        -webkit-animation: spinner 1.5s linear infinite;
        animation: spinner 1.5s linear infinite;
    }

    .loader-light {
        border-top: 3px solid white;
    }
    
    @-webkit-keyframes spinner {
        0%  {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes spinner {
        0%  {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}