@import "../styles/variables";

.navbar {
    width: 200px;
    color: #555;
}

.navbar > ul {
    padding: 16px 0;
    background-color: #f9f9f9;
    border: 1px solid #eee;
}

.navbar > ul > li {
    padding: 3px 16px;
}

.navbar > ul > li > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.navbar i {
    margin-right: 8px;
    color: #555;
}

@media all and (min-width: 769px) {
    .navbar > ul > li:hover {
        background-color: $light-blue;
    }
}

@media all and (max-width: 768px) { 
    .navbar {
        position: fixed;
        bottom: 0px;
        height: 50px;
        width: 100%;
        font-size: 12px;
    }
    .navbar > ul {
        background-color: #f9f9f9;
        border: 0;
        border-top: 2px solid #eee;
        display: flex;
    }
    .navbar > ul > li {
        display: inline-block;
        padding-left: 16px;
    }
    .navbar > ul {
        display: flex;
        height: 100%;
        padding: 0;
        align-items: center;
    }
    
    .navbar > ul > li {
        padding: 0;
        width: 100%;
    }
    .navbar > ul > li > a {
        flex-direction: column;
    }
    .navbar i {
        margin-right: 0;
    }
}
