@import url("https://fonts.googleapis.com/css?family=Arvo|Lato");
//font-family: "SF UI Text"; ?? have to ask Kaye

$pale-blue: #6EACE4;
$light-blue: #A7D6F3;
$med-blue: #3993E5;
$blue: #57A5E8;

$primary-font-family: "Arvo", serif;
$secondary-font-family: "Lato", sans-serif;

// $primary-font-color: $light-gray;
// $primary-dark-btn-color: $dark-gray;

// $dark-backsplash: $dark-gray;
// $light-backsplash: $light-gray;
