@import url("https://fonts.googleapis.com/css?family=Arvo|Open+Sans:300,400,600");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
//font-family: "SF UI Text"; ?? have to ask Kaye

$pale-blue: #6EACE4;
$light-blue: #A7D6F3;
$med-blue: #3993E5;
$blue: #57A5E8;

$primary-font-family: "Open Sans", sans-serif;
$secondary-font-family: "Arvo", serif;

$primary-font-color: $pale-blue;

$main-default-padding: 0 16px 12px 16px;
$navbar-mobile-height: 50px;

// $primary-font-color: $light-gray;
// $primary-dark-btn-color: $dark-gray;

// $dark-backsplash: $dark-gray;
// $light-backsplash: $light-gray;
