#topbar {
    height: 72px;
    background-color: #6eace4;
    margin-bottom: 24px;
    position: relative;
}

.logo,
.nest {
    color: white;
    font-weight: 100;
    font-size: 48px;
}
.nest {
    font-family: 'Dancing Script'
}