@import "../../styles/variables.scss";

li.firebaseui-list-item {
    .firebaseui-idp-text {
        color: #757575;
    }

    button.firebaseui-idp-button {
        @include Elevation(2);

        &:hover {
            background-color: rgba(255, 255, 255, .9);
            @include Elevation(4);
        }
        
        &:focus {
            background-color:  rgba(255, 255, 255, .9) ;
            @include Elevation(4);
        }
        
        &:active {
            background-color:  rgba(255, 255, 255, .9) ;
            @include Elevation(8);
        }
    }

    button.firebaseui-idp-anonymous {
        background-color: white;

        // remove original white icon and replace with black one
        .firebaseui-idp-icon-wrapper {
            .firebaseui-idp-icon {
                width: 0;
                height: 0;
                padding: 9px;
                background-image: url(/images/person.svg);
                background-size: cover;
            }
        }
    }
}