@import "../../styles/_variables.scss";

.welcome {
    height: 100vh;
    display: flex;
    color: white;
    justify-content: center;
    background-image: linear-gradient(0deg, $light-blue, $med-blue);
}

.register {
    font-size: 22px;
    height: 100%;
    justify-content: center;

    section {
        margin: 24px auto;
        display: flex;
        flex-direction: column;
    }

    input[type=text] {
        padding: 8px;
        margin: 8px auto;
        width: 325px;
        font-size: 22px;
        background: transparent;
        border: 0;
        border-bottom: 1px solid white;
        color: white;
        outline: 0;
    }
    
    button {
        margin: 0 auto;
        margin-top: 24px;
    }
}

.login {
    .top {
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .bottom {
        height: 55vh;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        align-items: center;
    }
    .bottom h1 {
        font-size: 24px;
        padding-top: 24px;
    }
    .logo img {
        height: 55px;	
        width: 246px;
    }
    .logo {
        margin: 0 auto;
    }
    .tagline {
        font-size: 20px;
        text-align: center;
        padding: 8px 10px 10px 10px;
    }
}

// .create-button {	
//     margin: 10px 0;
//     height: 60px;	
//     width: 300px;	
//     border-radius: 8px;	
//     background-color: $pale-blue;
//     color: white;
//     border: 0;
//     &:hover {
//         color: black;
//     }
// }

// .login-button {	
//     padding: 10px;
//     height: 40px;	
//     width: 300px;	
//     border-radius: 8px;	
//     background-color: $blue;
//     color: white;
//     border: 0;
//     &:hover {
//         color: black;
//     }
// }
// .forgot {
//     text-align: center;
//     padding-top: 40px;
//     font-size: 14px;
// }